 .btn {
  display: inline-block;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.btn-link {
  font-family: "Rubik", sans-serif; ;
  text-decoration: none;
}
